#.gitignore範本
#.gitignore用途
	#避免git將不想add至staging area的檔案（如可由原始程式碼生成的檔案）add到staging area中。
#.gitignore語法
	#可以使用glob patterns
	#http://en.wikipedia.org/wiki/Glob_%28programming%29
	#以「#」開頭的列為單行註解
	#*.so←不track副檔名為so的檔案
	#!trackThis.so←即使有*.so也會track此檔案
	#/FILE←只不track根目錄的FILE檔案
	#build/←忽略build目錄下的所有檔案
	#doc/*.txt←doc/a.txt會被忽略但是doc/a/b.txt則不會被忽略（那怎樣才能忽略呢？）
#注意事項
	#後方的規則會覆蓋前方的規則，例如排除.gitignore檔案的排除的規則如果放在排除.*檔案的規則前則會無效。
	#規則不能用tab字元或是空白縮排...
#GNU/Linux作業系統排除規則
	#Linux隱藏檔均以.開頭
.*
	#Linux作業系統下備份檔常包含波浪號(tilde, ~)
*.*~*
*~
#Windows作業系統排除規則
	#Windows image file caches
Thumbs.db
	#Folder config file
Desktop.ini

#排除常見備份檔副檔名
*.backup
*.bak
*.old
*.save

#排除常見暫存檔與暫存目錄下的任何檔案
*.tmp
tmp/
temp/
	
#排除Dolphin檔案管理程式目錄設定檔
.directory

#排除Kate文字編輯器的的暫存檔副檔名
*.kate-swp

#排除由程式產生的資料或紀錄(log)檔
*.dat
*.log

#排除封存／壓縮檔
*.7z
*.zip
*.tar.*
*.gz
*.bz2
*.rar
*.xz

#除非圖片為由程式產生否則不排除圖片檔案
!*.jpg
!*.png
!*.jpeg
!*.gif

#bomstrip移除UTF-8 BOM程式所建立的備份檔案
*.bom

#Git版本控制系統排除規則，放在最後面以免被後面的規則覆蓋掉
	#排除所有目錄下的.gitignore排除規則檔案
!*.gitignore
# 排除 Git submodule 設定檔
!*.gitmodules
